/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CUSTOM PROPERTIES */
:root {
  /* Colors theme 1 */
  --clr-bg-main-1: hsl(222, 26%, 31%);
  --clr-bg-keypad-1: hsl(223, 31%, 20%);
  --clr-bg-display-1: hsl(224, 36%, 15%);
  --clr-bg-numkeys-1: hsl(30, 25%, 89%);
  --clr-bg-numkeys-hover-1: hsl(60, 100%, 100%);
  --clr-bg-numkeys-shadow-1: hsl(28, 16%, 65%);
  --clr-bg-delreskeys-1: hsl(225, 21%, 49%);
  --clr-bg-delreskeys-hover-1: hsl(225, 51%, 76%);
  --clr-bg-delreskey-shadow-1: hsl(224, 28%, 35%);
  --clr-bg-key-equals-1: hsl(6, 63%, 50%);
  --clr-bg-key-equals-hover-1: hsl(6, 93%, 67%);
  --clr-bg-key-equals-shadow-1: hsl(6, 70%, 34%);
  --clr-txt-light-1: hsl(0, 0%, 100%);
  --clr-txt-dark-1: hsl(221, 14%, 31%);

  /* Colors theme 2 */
  --clr-bg-main-2: hsl(0, 0%, 90%);
  --clr-bg-keypad-2: hsl(0, 5%, 81%);
  --clr-bg-display-2: hsl(0, 0%, 93%);
  --clr-bg-numkeys-2: hsl(45, 7%, 89%);
  --clr-bg-delreskeys-hover-2: hsl(225, 51%, 76%);
  --clr-bg-numkeys-shadow-2: hsl(35, 11%, 61%);
  --clr-bg-delreskeys-2: hsl(185, 42%, 37%);
  --clr-bg-delreskeys-hover-2: hsl(0, 0%, 100%);
  --clr-bg-delreskey-shadow-2: hsl(185, 58%, 25%);
  --clr-bg-key-equals-2: hsl(25, 98%, 40%);
  --clr-bg-key-equals-hover-2: hsl(25, 100%, 61%);
  --clr-bg-key-equals-shadow-2: hsl(25, 99%, 27%);
  --clr-txt-light-2: hsl(0, 0%, 100%);
  --clr-txt-dark-2: hsl(60, 10%, 19%);

  /* Colors theme 3 */
  --clr-bg-main-3: hsl(268, 75%, 9%);
  --clr-bg-keypad-3: hsl(268, 71%, 12%);
  --clr-bg-display-3: hsl(268, 71%, 12%);
  --clr-bg-numkeys-3: hsl(268, 47%, 21%);
  --clr-bg-numkeys-hover-3: hsl(268, 54%, 44%);
  --clr-bg-numkeys-shadow-3: hsl(290, 70%, 36%);
  --clr-bg-delreskeys-3: hsl(281, 89%, 26%);
  --clr-bg-delreskeys-hover-3: hsl(280, 56%, 44%);
  --clr-bg-delreskey-shadow-3: hsl(285, 91%, 52%);
  --clr-bg-key-equals-3: hsl(176, 100%, 44%);
  --clr-bg-key-equals-hover-3: hsl(176, 100%, 79%);
  --clr-bg-key-equals-shadow-3: hsl(177, 92%, 70%);
  --clr-txt-light-3: hsl(0, 0%, 100%);
  --clr-txt-dark-3: hsl(198, 20%, 13%);
  --clr-txt-yellow-3: hsl(52, 100%, 62%);

  /* Fonts */
  --fs-xl: 2.5rem;
  --fs-l: 2rem;
  --fs-m: 1.25rem;
  --fs-s: 0.75rem;

  /* Padding, margin, gap */
  --gap-primary: 0.8rem;
  --section-padding-primary: 1.5rem;
  --border-radius-primary: 0.5rem;
}

@media screen and (min-width: 375px) {
  :root {
    /* Fonts */
    --fs-xl: 3.5rem;
    --fs-l: 2.5rem;
    --fs-m: 1.75rem;

    /* Padding, margin, gap */
    --gap-primary: 1.5rem;
  }
}

/* GENERAL STYLES */

body {
  background-color: var(--clr-bg-main-1);
  font-family: 'League Spartan', sans-serif;
  color: var(--clr-txt-light-1);
  font-weight: 700;
}

.calculator {
  max-width: 540px;
  margin: 4rem auto 0 auto;
  padding: 0 1rem;
}

/* HEADER */

.calculator__header {
  display: flex;
  justify-content: space-between;
  align-items: end;

  margin-bottom: 2rem;
}

.culculator__heading {
  font-size: 2rem;
}

.calculator__switch-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.calculator__switch-heading {
  font-size: var(--fs-s);
  text-transform: uppercase;
}

.calculator__switch-label {
  font-size: var(--fs-s);
}

.calculator__switch-label-container {
  display: flex;
  justify-content: space-around;

  margin-bottom: 0.5rem;
}

.calculator__switch-input-container {
  display: flex;
  align-items: center;

  position: relative;
  width: 4.4rem;
}

.calculator__switch-input {
  position: absolute;
  z-index: 10;
  width: 100%;
  opacity: 0;

  cursor: pointer;
}

.calculator__switch-track {
  position: relative;

  background-color: var(--clr-bg-keypad-1);
  width: 100%;
  height: 1.5rem;
  border-radius: 1rem;
  padding: 0.2rem;
}

.calculator__switch-thumb {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;

  background-color: var(--clr-bg-key-equals-1);
  width: calc(1.5rem - 0.4rem);
  height: calc(100% - 0.4rem);
  border-radius: 50%;

  transition: transform 300ms ease-out;
}

/* DISPLAY SECTION */

.calculator__display {
  background-color: var(--clr-bg-display-1);
  padding: var(--section-padding-primary);
  border-radius: var(--border-radius-primary);
  margin-bottom: 1rem;
}

.calculator__value {
  padding-top: 0.5rem; /* Center text vertically */
  font-size: var(--fs-xl);
  text-align: right;
}

@media screen and (min-width: 375px) {
  .calculator__display {
    padding: 2rem var(--section-padding-primary);
  }
}

/* KEYS SECTION */

.calculator__keys {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-rows: 4rem;
  gap: var(--gap-primary);

  background-color: var(--clr-bg-keypad-1);
  padding: var(--section-padding-primary);
  border-radius: var(--border-radius-primary);
}

.calculator__button {
  border: 0;
  border-radius: var(--border-radius-primary);
  padding-top: 0.5rem; /* Center text vertically */

  font-family: 'League Spartan', sans-serif;
  font-size: var(--fs-l);
  font-weight: 700;

  cursor: pointer;
}

.calculator__button--number {
  background-color: var(--clr-bg-numkeys-1);
  color: var(--clr-txt-dark-1);
  box-shadow: 0px 4px 0 var(--clr-bg-numkeys-shadow-1);
}

.calculator__button--number:hover {
  background-color: var(--clr-bg-numkeys-hover-1);
}

.calculator__button--number:active {
  background-color: var(--clr-bg-numkeys-1);
}

.calculator__button--delete,
.calculator__button--reset {
  background-color: var(--clr-bg-delreskeys-1);
  font-size: var(--fs-m);
  text-transform: uppercase;
  color: var(--clr-txt-light-1);
  box-shadow: 0px 4px 0 var(--clr-bg-delreskey-shadow-1);
}

.calculator__button--delete:hover,
.calculator__button--reset:hover {
  background-color: var(--clr-bg-delreskeys-hover-1);
}

.calculator__button--delete:active,
.calculator__button--reset:active {
  background-color: var(--clr-bg-delreskeys-1);
}

.calculator__button--reset {
  grid-column: span 2;
}

.calculator__button--equals {
  grid-column: span 2;

  background-color: var(--clr-bg-key-equals-1);
  color: var(--clr-txt-light-1);
  box-shadow: 0px 4px 0 var(--clr-bg-key-equals-shadow-1);
}

.calculator__button--equals:hover {
  background-color: var(--clr-bg-key-equals-hover-1);
}

.calculator__button--equals:active {
  background-color: var(--clr-bg-key-equals-1);
}
